
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slots_box {
  padding: 20px 0;
  overflow: hidden;
  text-align: center;
}

.slot_box {
  display: inline-block;
  margin: 0 10px;
}

.slot_box_inner {
  background: #eee;
  width: 100px;
  height: 100px;
  overflow: hidden;
  padding: 0 10px;
}

.slot_box_inner.move {
  background: linear-gradient(to right, #0be881 0%, #4bcffa 50%, #0be881 100%);
  background-size: 300%;
  animation: sbg 1s infinite alternate;
}

.slot_item {
  margin: 10px 0;
  height: 80px;
  width: 80px;
  text-align: center;
  color: white;
  line-height: 80px;
  transition: all 1s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}


.btn {
  display: block;
  margin: 20px auto;
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:#337bc4;
  font-weight:bold;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  box-shadow: 3px 4px 0px 0px #1564ad;
  text-shadow: 0px 1px 0px #528ecc;
  background:linear-gradient(#79bbff, #378de5);
}

.btn:hover {
  background: linear-gradient(#378de5, #79bbff);
}

@keyframes sbg {
  0% {
    background-position: 100%;
  }

  50% {
    background-position: -100%;
  }

  100% {
    background-position: 0;
  }
}